# Python cache
__pycache__/
*.pyc

# Virtual Environment folder (add the name of your venv folder here)
venv/
vr_venv/

typing_classifier/training_data/


vr_text_entry/leapc_python_bindings

typing_classifier/quest_training_data/*

typing_classifier/eyal_0deg/
typing_classifier/Archive/

#!typing_classifier/quest_training_data/compressed/
